<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<!-- Bootstrap CSS -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>

    <h1 class="text-center mt-5 mb-5 text-primary">Automatizacion de correos</h1>

    <div class="container">
        <div class="card shadow">
            <div class="card-body">
                <form action="/user" method="POST">
                    <div class="row mb-3">
                        <div class="col">
                            <label>Correo</label>
                            <input type="text" class="form-control mb-3" name="correo">
                        </div>
                        <div class="col">
                            <label>Nombre de la empresa</label>
                            <input type="text" class="form-control mb-3" name="nombre">
                        </div>
                       
                        <div class="col">
                            <button class="btn btn-primary mb-3 mt-4" type="submit">Guardar</button>
                        </div>
                    </div>

                </form>


                <!-- Tabla -->

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Nombre de la empresa</th>
                            <th scope="col">Editar</th>
                            <th scope="col">Eliminar</th>
                        </tr>
                    </thead>
                
                    <tbody>
                        {% for d in data %}
                        <tr>
                            <td>{{d.id}}</td>
                            <td>{{d.correo}}</td>
                            <td>{{d.nombre}}</td>
                            <td><button class="btn btn-primary btn-sm" id="btn-edit{{d.id}}" data-bs-toggle="modal" data-bs-target="#modal{{d.id}}">Editar</button></td>
                            <td><a href="{{url_for('delete',id=d.id)}}" class="btn btn-danger btn-sm">Eliminar</a></td>
                        </tr>
                     
                    

                        <!-- modal -->

                        <div class="modal fade" id="modal{{d.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h1 class="modal-title fs-5" id="exampleModalLabel">{{d.nombre}}</h1>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="/edit/{{d.id}}" method="post">
                                        <label>Correo</label>
                                        <input type="text" class="form-control mb-3" name="correo" value="{{d.correo}}">
                                        <label>Nombre de la empresa</label>
                                        <input type="text" class="form-control mb-3" name="nombre" value="{{d.nombre}}">
                                       
                                  
                                </div>
                                <div class="modal-footer">
                                  <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                                </div>
                                </form>
                              </div>
                            </div>
                          </div>




                    {% endfor %}

                </tbody>

            </table>

            <form action="/enviar-correos" method="POST">
                <div class="row mb-3" >
                    <div class="text-center">
                        <button class="btn btn-success" type="submit">Enviar Correos</button>
                    </div>
                </div>
                <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Los Correos han sido enviados correctamente</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Aquí se mostrará el mensaje -->
        </div>
      </div>
    </div>
  </div>
  <script>
    // Función para mostrar el modal con el mensaje
    function showModal(message, messageType) {
        $('#exampleModal .modal-body').text(message);
        $('#exampleModal').modal('show');
        // Agrega clases al modal para cambiar el color del borde según el tipo de mensaje
        $('#exampleModal .modal-dialog').addClass('border-' + messageType);
    }

    // Llama a la función showModal cuando la página se cargue
    $(document).ready(function() {
        // Si el mensaje de flash está presente en el HTML, muestra el modal
        var message = '{{ get_flashed_messages(with_categories=true) }}';
        if (message) {
            var messageArray = message.split(",");
            var messageType = messageArray[0].split("'")[1];
            var messageContent = messageArray[1].split("'")[1];
            showModal(messageContent, messageType);
        }
    });
</script>

            </form>
            </div>
        </div>
    </div>
    
</body>
</html>